@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$raleway: 'Raleway', sans-serif;

.header-1 {
    font-size: 60px;
    font-weight: 600;
}

.header-2 {
    font-size: 30px;
    font-weight: 800;
    color: #555555
}

.header-3 {
    font-size: 20px;
    font-weight: 800;
    color: #555555
}

.header-4 {
    font-size: 17px;
    font-weight: 700;
    color: #555555
}
.header-5 {
    font-size: 15px;
    font-weight: 600;
    color: #555555
}

.text {
    font-size: 15px;
    font-weight: 400;
    color: #555555
}

.sub-text {
    font-size: 10px;
    font-weight: 300;
    color: #555555
}

.section-title {
    font-size: 18px;
    font-weight: 800;
}

.app-horizontal-padding{
    padding-left: 150px;
    padding-right: 150px;
}

.button-style{
    height: 20vh;
    width: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.button-name-style{
    font-size: 1.0em;
    font-weight: bold;
    color: #333333;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }